<div class='container'>
	<div class="row">
		<div id='frogCard' class="card hoverable">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img id='frogger' class="activator" src="http://images6.fanpop.com/image/photos/37200000/Frogger-video-games-37224771-440-330.gif">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">FROGGER<i class="material-icons right">more_vert</i></span>
		      <a class="waves-effect waves-light btn-small grey darken-2" href="/users/mario"><i class="material-icons right">play_arrow</i>Play!</a>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">FROGGER<i class="material-icons right">close</i></span>
		      <p>Here is some more information about this product that is only revealed once clicked on.</p>
		    </div>
		</div>		
		<div id='galagaCard' class="card hoverable">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img id='galaga' class="activator" src="http://watchnews.com.mx/wp-content/uploads/2016/08/Galaga-classic-arcade-game.gif">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">GALAGA<i class="material-icons right">more_vert</i></span>
		      <a class="waves-effect waves-light btn-small grey darken-2" href="/users/galaga"><i class="material-icons right">play_arrow</i>Play!</a>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">GALAGA<i class="material-icons right">close</i></span>
		      <p>Here is some more information about this product that is only revealed once clicked on.</p>
		    </div>
		</div>
		<div id='bjCard' class="card hoverable">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img id='BJ' class="activator" src="https://www.blackjack.org/wp-content/uploads/2017/11/ad-300-250.gif">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">LOST WAGES<i class="material-icons right">more_vert</i></span>
		      <a class="waves-effect waves-light btn-small grey darken-2" href="/users/blackjack"><i class="material-icons right">play_arrow</i>Play!</a>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">BLACK JACK<i class="material-icons right">close</i></span>
		      <p>Here is some more information about this product that is only revealed once clicked on.</p>
		    </div>
		</div>
	</div>
</div>


	<div id="twitchjpg">
		<div>
			<a class="waves-effect waves-light btn-small grey darken-2" href="/users/twitch"><i class="material-icons right">play_arrow</i>Watch a Game</a>
		</div>
	</div>







 

