<div class="container wrapper" id="vladContainer">
<div id="twitchheader" class='text-center'>
	<a href="https://www.twitch.tv/" target='_blank'>
    <img class="img-fluid" id='img-header' src="https://www.leviathyn.com/wp-content/uploads/2014/01/twitchfeaturedimg.png">
    </a>
</div> 


<div id="idSearchBox" class="row">
    <div class="row">
		<div class="col-lg-8 input-group">
			<input id="idSearch" type="text" class="form-control" placeholder="Search twitch" />
		</div>
        <div class="col-lg-4">
			<button id="idButton"class="btn btn-primary" type="button">Go!</button>
        </div>
    </div>
</div>

<div id="idResult">
    <div id="idName" class="container"></div>
</div>

<div class="container">
    <div class="col-sm-2 col-xs-2">
    </div>
    <div class="col-sm-8 col-xs-8">
      <div id="idLi">
        <ul id="idListe">
        </ul>
      </div>
    </div>
    <div class="col-sm-2 col-xs-2">

    </div>
</div>
</div>